<h1><%= @curso.nombre %></h1>
<p><%= @curso.descripcion %></p>



<h2>Clases del Curso</h2>
<ul>
  <% @clases.each do |clase| %>
    <li>
      <h5><%= clase.texto %></h5>
      <p>Imagen: <%= clase.imagen %></p>
    </li>
  <% end %>
</ul>

<a href="<%= cursos_path %>" class="btn btn-secondary">Volver a Cursos</a>
