<h1>Crear Clase</h1>

<%= form_with(model: [@curso, @clase], local: true) do |form| %>

  <% if @clase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clase.errors.count, "error") %> impidió que la clase se guardara:</h2>
      <ul>
        <% @clase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :texto, "Título de la Clase" %>
    <%= form.text_field :texto, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :texto2, "Contenido Enriquecido" %>
    <%= form.rich_text_area :texto2, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Clase", class: 'btn btn-primary', data: { turbo: false } %>
  </div>
<% end %>
