<h1 class="mb-4">Cursos Disponibles</h1>

<div class="row">
  <% @cursos.each do |curso| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          
          <h5 class="card-title"><%= curso.nombre %></h5>
          <p class="card-text"><%= curso.descripcion2 %></p>
          <% if current_usuario %>
            <div class="d-flex justify-content-start">
            
              <a href="<%= curso_path(curso) %>" class="btn btn-primary">
                <i class="fas fa-magnifying-glass"></i>
              </a>
              
              <% if current_usuario && !current_usuario.cursos.include?(curso) %>
                <%= button_to 'Inscribirse', inscribir_curso_path(curso), method: :post, class: 'btn btn-primary', data: { turbo: false } %>
              <% else %>
                <%= button_to 'Desinscribirse', desinscribir_curso_path(curso), method: :delete, class: 'btn btn-danger', data: { turbo: false } %>
              <% end %>
            </div>
          <% end %>
          <% if current_usuario.id == curso.creador_id %>
            <hr>
            <div class="d-flex justify-content-start">
              <a href="<%= edit_curso_path(curso) %>" class="btn btn-warning btn-sm mr-2">
                <i class="fas fa-edit"></i> Editar
              </a>
              <%= button_to curso_path(curso), method: :delete, class: 'btn btn-danger',
                 data: { confirm: '¿Estás seguro de que deseas borrar este curso?', turbo: false } do %>
                <i class="fas fa-trash-alt"></i> Borrar
              <% end %>
                          
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


