
<h1 class="mb-4"><%= @curso.nombre %></h1>
<p class="card-text"><%= @curso.descripcion2.to_s.html_safe %></p>
<h2 class="mb-4">Clases del Curso</h2>


<div class="row">
  <% @clases.each do |clase| %>
    <div class="col-md-4">
      <div class="card mb-4 <%= 'bg-success text-white' if clase.progresos.find_by(usuario: current_usuario)&.completado %>">
        <div class="card-body">
          <h5 class="card-title"><%= clase.texto %></h5>
          <a href="<%= curso_clase_path(@curso, clase) %>" class="btn btn-primary">Ver clase</a>
          <%= link_to 'Editar', edit_curso_clase_path(@curso, clase), class: 'btn btn-warning' %>
          <%= button_to 'Eliminar', curso_clase_path(@curso, clase), 
                        method: :delete, 
                        data: { turbo: false, confirm: '¿Estás seguro de que deseas eliminar esta clase?' }, 
                        class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<a href="<%= cursos_path %>" class="btn btn-secondary">Volver a Cursos</a>


