<h1>Iniciar Sesión</h1>

<%= form_with url: iniciar_sesion_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label :rut %>
    <%= form.text_field :rut, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contraseña %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <%= form.submit "Iniciar Sesión", class: "btn btn-primary" %>
<% end %>
