<h1>Registrarse</h1>

<%= form_with model: Usuario.new, local: true do |form| %>
  <div class="form-group">
    <%= form.label :nombre_completo %>
    <%= form.text_field :nombre_completo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rut %>
    <%= form.text_field :rut, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contraseña %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :confirmar_contraseña %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo_de_usuario %>
    <%= form.select :tipo_u, [['Estudiante', 'estudiante'], ['Profesor', 'profesor']], class: "form-control" %>
  </div>

  <%= form.submit "Registrarse", data: { turbo: false }, class: "btn btn-primary" %>
<% end %>



